.create-centuria-card {
  max-width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

.create-centuria-head {
  padding: 10px 20px;
}

.create-centuria-body {
  padding: 10px 20px;
}

.create-centuria-arrow {
  margin: 5px;
}

.create-centuria-body-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-centuria-body-inputs-textfield + .create-centuria-body-inputs-textfield {
  margin-left: 10px;
}

.create-centuria-body-button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.centuria-dropdown {
  min-width: 194px;
}