.body-wrapper {
  margin-top: 100px;
  max-width: 100%;
  overflow: scroll;
  max-height: 500px;
}

.connection-marker--red {
  background-color: #F04040;
  width: 60px;
}

.connection-marker {
  background-color: #fcba03;
  width: 60px;
}

.delay-wrapper {
  box-shadow: 0px 3px 6px #00000016;
  display: flex;
  max-width: 50vw;
  margin-bottom: 20px;
}

.delay-body-wrapper {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.delay-station-info-wrapper {
  display: flex;
  align-items: center;
}

.delay-station-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 60px;
  margin-left: 15px;
}

.delay-time-info {
  display: flex;
  flex-direction: column;
  text-align: end;
}