.circle {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  border: 2px solid var(--indicator-color);
}

.rectangle {
  width: 20px;
  background: var(--indicator-color);
  min-height: 20px;
  position: relative;
  z-index: -1;
}

.rectangle:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--indicator-color);
  top: -10px;
}

.rectangle:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--indicator-color);
  bottom: -10px;
}

