.create-subscriber-card {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

.create-subscriber-head {
  padding: 10px 20px;
}

.create-subscriber-body {
  padding: 10px;
}

.create-subscriber-body-inputs {
  display: flex;
  margin-bottom: 10px;
}

.create-subscriber-body-inputs-textfield {
  margin: 5px;
}

.create-subscriber-body-button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.MuiFormControl-root.create-subscriber-centuria-dropdown {
  display: flex;
  margin: 5px;
}

.centuria-select {
  min-width: 194px;
}