.sidebar-wrapper {
  position: fixed;
  height: calc(100% - 160px);
  border-right: 1px solid #707070;
  margin: 80px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.sidebar-item {
  padding: 15px 25px;
}

.sidebar-item svg {
  opacity: 1;
  width: 40px;
  height: auto;
  fill: #888585;
  cursor: pointer;
  transition: all 0.1s ease;
}

.sidebar-item--active {
  padding: 15px 25px;
}

.sidebar-item--active svg {
  opacity: 1;
  width: 40px;
  height: auto;
  fill: #3F51B5;
  cursor: pointer;
}

.sidebar-item:hover svg {
  fill: #3F51B5;
  opacity: 0.75;
}

.sidebar-indicator {
  width: 7px;
  height: 50px;
  background: #3F51B5;
  position: absolute;
  top: 145px;
  right: -1px;
  transition: all 0.5s ease;
}